
.game-header-container {
  margin-top: 100px;
  text-align: center;
}

.score-timer-container {
  display: flex;
  justify-content: space-between; 
  margin-top: 10px; 
}

.score, .timer {
  margin: 0 5px; 
  font-size: 25px; 
  font-weight: bold;
  padding: 10px;
  border: 2px solid black;      
  border-radius: 10px;          
  display: inline-block;
  width: 120px; 
  text-align: center;
}


.button-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  gap: 20px;               /* Espacio entre los botones */
  margin-top: 5px;
  padding: 10px; 
}

.button-container input {
  margin: 5px;
  padding: 10px 20px;
}

/* Restart-Instructions Buttons */
.restart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; 
  grid-gap: 10px;
}

.restart-container div {
  margin: -5px 10px;
  align-items: center;
}



.instructions-button, .restart-button {
  background-color: #f08080; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px; 
  width: 200px;
}

/* Player Buttons */
#play {
  color: black;
  background-color: #004d40;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  
}

#pause {
  color: black;
  background-color: #004d40;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  

}

#stop {
  color: black;
  background-color: #004d40;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  

}

#next {
  color: black;
  background-color: #004d40;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  width: 100%;

}

#test-button {
  color: black;
  background-color: #004d40;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  width: 100%;

}
